<p id="notice"><%= notice %></p>

<h1>Lista de Articulos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estatus</th>
      <th>Codigo</th>
      <th>Dependencia</th>
      <th>Fecha compra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventarios.each do |inventario| %>
      <tr>
        <td><%= inventario.nombre %></td>
        <td><%= inventario.estatus %></td>
        <td><%= inventario.codigo %></td>
        <td><%= inventario.dependencia %></td>
        <td><%= inventario.fecha_compra %></td>
        <td><%= link_to 'Show', inventario %></td>
        <td><%= link_to 'Edit', edit_inventario_path(inventario) %></td>
        <td><%= link_to 'Destroy', inventario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventario', new_inventario_path %>
