<p id="notice"><%= notice %></p>

<h1>Lista de Articulos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estatus</th>
      <th>Codigo</th>
      <th>Dependencia</th>
      <th>Fecha compra</th>
    <th> <span class="label label-default">ACCIONES:</span></th>
      
    </tr>
  </thead>

  <tbody>
    <% @inventarios.each do |inventario| %>
      <tr>
        <td><%= inventario.nombre %></td>
        <td><%= inventario.estatus %></td>
        <td><%= inventario.codigo %></td>
        <td><%= inventario.dependencia %></td>
        <td><%= inventario.fecha_compra %></td>
       
        <td><%= link_to 'Ver', inventario , class:'btn btn-success'%></td>
        <td><%= link_to 'Editar', edit_inventario_path(inventario), class:'btn btn-success' %></td>
        <td><%= link_to 'Eliminar', inventario, method: :delete, data: { confirm: 'Seguro desea borrar?' }, class: 'btn btn-danger' %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Articulo', new_inventario_path, class:'btn btn-primary' %>
