<!DOCTYPE html>
<html>
<head>
  <title>Proyecto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<body>
       
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">

   
        <div class="navbar-header">

          <a class="navbar-brand" href="#">Sistema de Inventario</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           <li class="active"><%= link_to('Inicio', inventarios_path) %> </li>
          <% if user_signed_in? %>
            <li class="active"><%= link_to('Salir', destroy_user_session_path, :method => :delete) %> </li>
            <% else %>
            <li><%= link_to('Ingresar', new_user_session_path)  %></li>
            <% end %>
          </ul>
          </nav>
        </div>
        <%= yield %>
      </div>    

</body>
<footer class="footer">
      <div class="container">
        <p class="text-muted">Desarrollado por Julio Gonzalez</p>
      </div>
    </footer>
</html>





